---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install packages
  apt:
    name:
      - git
      - curl
      - nginx
      - nodejs
      - npm
    state: present

- name: Install PM2
  npm:
    name: pm2
    global: yes
    state: present